.gunting {
   position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
}
.gunting .lancip{
   position: relative;
   width: 10px;
  height: 100px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 10px;
  transform: rotate(50deg);
}
.gunting .lancip2{
   position: relative;
   width: 10px;
  height: 105px;
  top: 10px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 10px;
  transform: rotate(100deg);
}
.gunting .lingkaran1{
    position: absolute;
   width: 30px;
  height: 30px;
  top: 35px;
  right: 370px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 51% 49% 51% 49% / 50% 48% 52% 50% ;
}
.gunting .lingkarandlm1{
     position: absolute;
   width: 20px;
  height: 20px;
  top: 40px;
  right: 375px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 51% 49% 51% 49% / 50% 48% 52% 50% ;
}
.gunting .lingkaran2{
position: absolute;
width: 30px;
  height: 30px;
  top: 75px;
  right: 365px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 51% 49% 51% 49% / 50% 48% 52% 50% ;
}
.gunting .lingkarandlm2{
     position: absolute;
   width: 20px;
  height: 20px;
  top: 80px;
  right: 370px;
  background-color: black;
  border: 2px solid #ffffff; 
  border-radius: 51% 49% 51% 49% / 50% 48% 52% 50% ;
}